<!-- fragments/sidebar.html -->
<div th:fragment="sidebar(activePage)">
    <div class="d-flex flex-column p-3 bg-light border-end" style="width: 250px; min-height: 100vh;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a th:href="@{/profile}" th:classappend="${activePage} == 'profile' ? 'active bg-primary text-white' : 'text-dark'" class="nav-link">
                    <i class="fas fa-th-large me-2"></i> Профиль
                </a>
            </li>
            <li>
                <a th:href="@{/profile/personalData}" th:classappend="${activePage} == 'personalData' ? 'active bg-primary text-white' : 'text-dark'" class="nav-link">
                    <i class="fas fa-user me-2"></i> Личные данные
                </a>
            </li>
            <li>
                <a th:href="@{/profile/orders}" th:classappend="${activePage} == 'orders' ? 'active bg-primary text-white' : 'text-dark'" class="nav-link">
                    <i class="fas fa-box me-2"></i> Заказы
                </a>
            </li>
            <li>
                <a th:href="@{/profile/favorites}" th:classappend="${activePage} == 'favorites' ? 'active bg-primary text-white' : 'text-dark'" class="nav-link">
                    <i class="fas fa-heart fa-lg"></i> Избранное
                </a>
            </li>
            <li>
                <a th:href="@{/profile/purchased}" th:classappend="${activePage} == 'purchased' ? 'active bg-primary text-white' : 'text-dark'" class="nav-link">
                    <i class="fas fa-shopping-cart me-2"></i> Купленные товары
                </a>
            </li>

            <hr>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link text-danger">
                    <i class="fas fa-sign-out-alt me-2"></i> Выйти
                </button>
            </form>
        </ul>
    </div>
</div>
